//
// Buttons
//
// Markup: buttons.html
//
// .button-red    - Red button
// .button-blue   - Blue button
//
// styleguide Components.buttons

.button {
  background-color: #ccc;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  font-size: 1.6rem;
  padding: 10px 20px;
  text-decoration: none;
}

.button-red {
  background-color: red;
  color: #fff;
}

.button-blue {
  background-color: blue;
  color: #fff;
}
